name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          unzip zip openjdk-17-jdk \
          libgl1-mesa-dev \
          build-essential \
          ccache \
          autoconf automake libtool pkg-config \
          libffi-dev

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Accept Android licenses
      run: |
        yes | sdkmanager --licenses || true

- name: Install Android SDK components (FIX AIDL)
  run: |
    sdkmanager "platform-tools" "platforms;android-31" "build-tools;31.0.0"

- name: Build APK
  run: |
    buildozer android debug


    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: FlappyBird-APK
        path: bin/*.apk
